USE [master]
GO
/****** Object:  Database [FindWaldo]    Script Date: 09/12/2018 04:02:38 p. m. ******/
CREATE DATABASE [FindWaldo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FindWaldo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FindWaldo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FindWaldo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FindWaldo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FindWaldo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FindWaldo]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 09/12/2018 04:02:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[Nombre] [varchar](10) NULL,
	[Modo] [varchar](10) NULL,
	[Tiempo] [varchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
